connection.json
.DS_Store
.venv*
*.token
config.json
config-*.json
config.yml
config-*.yml
snowflake.local.yml
output/**
log.*
*.log
*credentials*.*
*.pyc
build/*
package/*
.logs/*
instruments-def.*
metrics/*
*.zip
!config-basic.json
LICENSE.md
*-deploy-script*
*.pdf
test/conf/*config-download.json
dynatrace-snowflake-observability-agent
*.pkg
