connection.json
.DS_Store
*.token
config.json
config-*.json
config.yml
config-*.yml
conf/*.sql
snowflake.local.yml
output/**
log.*
*.log
*credentials*.*
*.pyc
build/*
package/*
.logs/*
instruments-def.*
metrics/*
*.zip
!config-basic.json
LICENSE.md
*-deploy-script*
*.pdf
test/conf/*config-download.yml
dynatrace-snowflake-observability-agent
*.pkg

# Virtual Env
.venv*

# AI
.github/context/*